<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>SoftMakers - Construir a sua ideia é nosso negócio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.png" type="image/x-icon"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1EJD2VMKZF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1EJD2VMKZF');
    </script>
</head>

<body>
    <img id="userPhoto" src="/logo.jpg" alt="User Photo">
    
    <a href="https://www.instagram.com/softmakersbr" id="userName">@softmakersbr</a>
    <div id="links">
        <a class="link" href="https://api.linkr.bio/callbacks/go?url=https%3A%2F%2Fforms.gle%2Fr6G7cRxCD41ruJCo6&hash=VRNNLblR&type=1&id=Z8M9jLz8" target="_blank">Vaga Estágio - Desenvolvedor Full Stack</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>