<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>SoftMakers - Construir a sua ideia é nosso negócio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.png" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="/logo.jpg" alt="User Photo">
    
    <a href="https://www.instagram.com/softmakersbr" id="userName">@softmakersbr</a>
    <div id="links">
        <a class="link" href="https://forms.gle/QSjjY44QD9JdE76N8" target="_blank">Vaga -> Desenvolvedor Full Stack - Estágio</a>
    </div>
    <div id="links">
        <a class="link" href="https://forms.gle/Xydwoo2CLu23giQe6" target="_blank">Vaga -> Analista de Testes - Júnior 3</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1EJD2VMKZF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1EJD2VMKZF');
    </script>
</body>
</html>